/* Basic beige background for the app */
body {
    color: #8f5d46;
    background-color: #f1e0c6;
    text-align: center;
}

/* Animation for the opening lock animation of application before the application title appears */
/* Styling to center both animation and title */
.screen {
    position: relative;
    height: 90vh;
}

.screen > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#openingTitle{
    font-size: 8vw;
    display: none;
}

#getUserName {
    display: none;
}