<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="../style.css">
    <script src="../render.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Flowing - Study Timer</title>
  </head>
  <body>

    <!-- Div for opening lock animation and title screens (Styles to automatically be centered of window size) -->
    <div id="openingScreen"><img id="lockImage" src = "../images/1.png"></div>
    
  </body>
</html>